<mt:setvar name="_vue_edit_value" value="" />
<mt:setvarblock name="_variable_name_on_error">forward_<mt:var name="__col_name__"></mt:setvarblock><mt:ignore>編集エラー時</mt:ignore>
<mt:setvarblock name="_variable_name_on_normal">vue_edit_<mt:var name="__col_name__"></mt:setvarblock><mt:ignore>通常時</mt:ignore>
<mt:var name="$_variable_name_on_error" setvar="_vue_edit_value" />
<mt:unless name="_vue_edit_value"><mt:var name="$_variable_name_on_normal" setvar="_vue_edit_value" /></mt:unless>

<mt:ignore>Note: HTML Standardによると、style要素が利用できるコンテキストは「メタデータコンテンツが期待される場所。headの子であるnoscript要素内。」とある。</mt:ignore>
<style>
  #procedure .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #procedure .form-group:nth-child(2n) {
    background-color: #F2F2F2;
  }
  #procedure .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #procedure .relation-list {
    margin-bottom: 0;
    max-width: 100%;
  }
  #procedure .relation-list li {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-top: 0 !important;
    padding-right: 0;
  }
  #procedure .relation-list img {
    max-width: 66.6%;
    max-height: 130px;
  }
  #procedure .relation-list li .btn {
    margin-left: 10px;
  }
  #procedure .relation-list + .select-asset {
    margin-top: 10px;
  }
  #procedure .form-control.text {
    height: 100%;
  }
  #procedure .control {
    display: grid;
    align-items: center;
  }
  #procedure .control ul {
    display: grid;
    grid-template-columns: 38px 38px 38px;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  #procedure .control .down {
    grid-column: 2;
  }
  #procedure .control .delete {
    grid-column: 3;
  }
  #procedure .control .btn {
    box-sizing: content-box;
    margin-left: 0;
    height: 16px;
  }
</style>

<div class="row form-group">
  <div class="col-lg-2">
    手順
  </div>
  <div class="col-lg-10">
    <div id="procedure" data-value="<mt:var name="_vue_edit_value" base64_encode />">
      <draggable v-model="procedures" item-key="order" @end="onDragEnd">
        <template #item="{element}">
          <div class="row form-group">
            <div class="col-3 image">
              <ul v-if="element.asset_id > 0" class="relation-list">
                <li>
                  <img v-bind:src="'<mt:var name="script_uri" />?__mode=get_thumbnail&_model=asset&id=' + element.asset_id" alt="" class="thumbnail">
                  <button v-bind:id="'asset_vue_edit_' + element.order + '-close'" v-bind:data-order="element.order" type="button" class="btn btn-secondary btn-sm" aria-label="<mt:trans phrase="Detach">" data-name="asset_id" v-on:click="detachRelation">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </li>
              </ul>
              <div class="select-asset">
                <input v-bind:id="'asset_vue_edit_' + element.order" type="hidden" v-model="element.asset_id">
                <button type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal" v-bind:data-href="'<mt:var name="script_uri" />?__mode=view&amp;_type=list&amp;_model=asset&amp;workspace_id=<mt:var name="workspace_id" />&amp;dialog_view=1&amp;single_select=1&amp;target=asset_vue_edit_' + element.order + '&amp;get_col=label'"><mt:trans phrase="Select..." /></button>
              </div>
            </div>
            <div class="col-6"><textarea class="form-control text" rows="3" cols="20" v-model="element.text" ref="procedure_text"></textarea></div>
            <div class="col-3 control">
              <ul>
                <li v-if="element.order > 1" class="up">
                  <button type="button" class="btn btn-secondary" v-on:click="up(element.order)">
                    <svg role="img" aria-label="Up" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
                  </button>
                </li>
                <li v-if="element.order < procedures.length" class="down">
                  <button class="btn btn-secondary" type="button" v-on:click="down(element.order)">
                    <svg role="img" aria-label="Down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg>
                  </button>
                </li>
                <li class="delete">
                  <button type="button" class="btn btn-danger" v-on:click="deleteItem(element.order)">
                    <svg role="img" aria-label="Delete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </template>
      </draggable>
      <div class="row mt-3">
        <div class="col-12">
          <button type="button" class="btn btn-info ml-0" v-on:click="addItem(true)">Add</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <textarea id="<mt:var name="__col_name__">" name="<mt:var name="__col_name__">" class="form-control" rows="5" cols="50" readonly>{{cmsdata}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.2/base64.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
<script src="<mt:var name="vue_edit_asset_dir" escape />/js/vue.draggable.next/vuedraggable.umd.min.js"></script>
<script src="<mt:var name="vue_edit_asset_dir" escape />/js/procedure.js"></script>
